# 環境変数
.env
.env.*

# Python
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*$.py.class
*.so
.Python
venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

# エディタ・OS
.vscode/
.idea/
.DS_Store
*.swp
*.swo
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Node.js(django-tailwind用)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*